unset KEY_API_ETHERSCAN
unset KEY_API_INFURA
unset BALPY_CUSTOM_RPC
unset KEY_PRIVATE
unset INFURA_API_KEY

GARBAGE_PRIVATE_KEY="" # !!! WITHOUT !!! the leading '0x' -- do not use a PK that has any assets!!!
INFURA_API_KEY=""
ETHEREUM_KEY_API_ETHERSCAN=""
FANTOM_KEY_API_ETHERSCAN=""
POLYGON_KEY_API_ETHERSCAN=""
