unset KEY_API_ETHERSCAN
unset KEY_API_INFURA
unset BALPY_CUSTOM_RPC
unset KEY_PRIVATE
unset INFURA_API_KEY

export GARBAGE_PRIVATE_KEY="$ARG0" # !!! WITHOUT !!! the leading '0x' -- do not use a PK that has any assets!!!
export INFURA_API_KEY="$ARG1"
export ETHEREUM_KEY_API_ETHERSCAN="$ARG2"
export FANTOM_KEY_API_ETHERSCAN="$ARG3"
export POLYGON_KEY_API_ETHERSCAN="$ARG4"
